.foodBox {
  border: 1px solid #878787;

  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;

  &__picturePlace {
    min-width: 170px;
    height: 98px;
    border-radius: 10px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    h2 {
      font-size: 25px;
      font-weight: 400;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      text-align: left !important;
      color: #7c7c7c;
    }
    p {
      font-size: 15px;
      text-align: right;
      color: #7c7c7c;
    }
  }
  &__dropDown {
    background: #87878786;
    border-radius: 10px;
    border: 0.5px solid #878787;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: relative;

    &__selected {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &.cursor {
        cursor: pointer;
      }

      &.noncursor {
        cursor: not-allowed;
      }

      span {
        flex: 1;
      }
      &__drop {
        transition: 0.5s ease-in-out;
      }
      &__open {
        transform: rotate(180deg);
      }
    }
    &__options {
      background: #aaaaaa;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      padding: 10px;
      right: 0;
      left: 0;
      top: 100%;
      z-index: 999;

      span {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
      }
    }
  }

  &__editDelete {
    display: flex;
    justify-content: space-around;
    .icon {
      font-size: 25px;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    strong {
      font-size: 25px;
      font-weight: 400;
      line-height: 11.23px;
      span{
        font-size: 12px;
      }
    }
    .counter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.amount {
        button {
          color: white;
          border: none;
          cursor: pointer;
          font-size: 18px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #1c9e9e;
        }
        button:hover {
          background-color: #0056b3;
        }
      }

      .number {
        padding: 0 20px;
        font-size: 20px;
      }
    }
  }
}
