.foodBox {
  border: 1px solid #878787;

  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;

  &__picturePlace {
    min-width: 170px;
    height: 98px;
    border-radius: 10px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    h2 {
      font-size: 25px;
      font-weight: 400;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      text-align: left !important;
      color: #7c7c7c;
    }
    p {
      font-size: 15px;
      text-align: right;
      color: #7c7c7c;
    }
  }
  &__editDelete {
    display: flex;
    justify-content: space-around;
    .icon {
      font-size: 25px;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  // .order {
  //   padding: 10px 0;
  //   background-color: teal;
  //   border: none;
  //   text-transform: uppercase;
  //   font-size: 20px;
  //   transition: 0.2s ease-in-out;
  // }
  // .order:active {
  //   background-color: rgb(0, 91, 91);
  //   box-shadow: 0 0 5px black inset;
  // }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    strong {
      font-size: 25px;
      font-weight: 400;
      line-height: 11.23px;
    }
    .counter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.amount {
        button {
          color: white;
          border: none;
          cursor: pointer;
          font-size: 18px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #1c9e9e;
        }
        button:hover {
          background-color: #0056b3;
        }
      }

      .number {
        padding: 0 20px;
        font-size: 20px;
      }
    }
  }
}
