.getOrder {
  margin-top: 50px;
  .guestTable {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    // overflow: hidden;

    &__checkbox {
      text-align: center;
      input {
        height: 30px;
        width: 100%;
      }
    }

    button {
      background-color: #ff8000;
    }
    button:hover {
      background-color: #b75c00;
    }

    button {
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 18px;
      @media print {
        display: none;
      }
    }

    .number {
      padding: 0 20px;
      font-size: 20px;
    }
  }
}
