@import "../../media.scss";
.getOrder__holder {
  @media print {
    display: none;
  }
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 25px;
  justify-content: space-between;
  @include media(752) {
    justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
    gap: 50px;

    &__button {
      display: flex;
      justify-content: center;
      &.delete {
        .totallOrederAll {
          background-color: rgb(154 154 154);
          svg {
            stroke: #bebebe;
          }
        }
      }
      @media print {
        display: none;
      }
      .totallOrederAll {
        border: none;
        width: 200px;
        height: 200px;
        background-color: teal;
        // border-radius: 10px;
        font-size: 25px;
        border-radius: 25px;
        transition: 0.1s ease-in-out;

        svg {
          width: 100%;
          height: 100%;
          stroke: white;
          fill: white;
        }
        &:hover,
        &:active {
          transform: scale(1.05);
        }
      }
    }
  }
}
