.getOrder__holder {
  @media print {
    display: none;
  }
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  justify-content: center;
}

.getOrder__button {
  margin-bottom: 100px;

  &.delete {
    .totallOrederAll {
      background-color: red;
    }
  }
  @media print {
    display: none;
  }
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .totallOrederAll {
    width: 80%;
    height: 80px;
    background-color: teal;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 900;
  }
}
