.sideBarMenu {
  // height: 100%;
  // position: relative;
  margin-bottom: 40px;
  .logo {
    display: none;
    position: fixed;
    top: 10px;
    left: 2vw;
    width: 80px;
    height: 80px;
    z-index: 1000;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      fill: #ffc400;
      stroke: #ec4c4c;
      stroke-width: 5px;
    }
  }
  .linksTomenu {
    transition: 0.2s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      gap: 10px;
      border: 1px solid black;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      padding: 12px 22px;
      &__img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &__text {
        p {
          font-size: 14px;
          font-weight: 400;
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: #7c7c7c;
        }
      }

      &:hover,
      &:active {
        transform: scale(1.05);
      }
    }
  }
  .openMenuLinks {
    // transform: translate(0%) !important;
  }
}
