@import "../public/fonts/fonts.scss";
@import "./media.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gothampro", sans-serif;
  // color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 3vw;
}
.wrapper {
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
}
.dangerButton {
  background-color: #dc3545 !important;
  border: none !important;
  padding: 10px 15px;
  color: white !important;
  font-weight: 600 !important;

  &:hover {
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
  }
  &:active {
    transform: scale(0.95) !important;
  }
}
