header {
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 80px;

    nav {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 50px;
      margin-left: 80px;
      width: 100%;
      ul {
        display: flex;
        align-items: center;
        gap: 5vw;
        flex-wrap: wrap;
        li {
          a {
            font-family: "Pacifico", cursive;
          }
          button {
            border: 2px solid white;
            padding: 10px 20px;
            background-color: transparent;
            backdrop-filter: blur(5px);
          }
        }
      }
    }
  }
}
